auto-install-peers=true
enable-pre-post-scripts=true
strict-peer-dependencies=false
resolution-mode=highest
engine-strict=false
manage-package-manager-versions=true
modules-cache-max-age=5
update-notifier=false
minimum-release-age=4320
